.navbar{
    display: inline-block;
    position: sticky;
    top: 0;
    background-color: white;
    overflow: hidden;
    width: 100%;
}

.navbarlogo{
    max-width: 400px;
}

ul a:hover{
    background-color: #182b49;
    color: white;
}

a{
    padding: 8px;
    font-size: 28px;
    color: black;
    text-decoration: none;
    display: inline-block;
}

ul{
    padding-left: 0px;
}

h2{
    font-size: 28px;
}

p{
    font-size: 28px;
}

.sec1{
    background-color: rgb(245, 240, 230);
    display: inline-block;
}

.sec1pic{
    max-width: 100%;
}

.sec2pic{
    max-width: 100%;
}
.sec2{
    background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
    display: inline-block;
    color: white;
}

.grid{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(245, 240, 230);
}

.gridstyle1{
    background-color: #182b49;
    color: white;
    max-height: 500px;
}

.gridstyle2{
    background-color: #182b49;
    color: white;
    max-height: 500px;
}

.gridstyle3{
    background-color: #182b49;
    color: white;
    max-height: 500px;
}

.gridstyle4{
    background-color: #182b49;
    color: white;
    max-height: 500px;
}

@media screen and (max-width: 800px){
    ul{
        display: none;
    }

    .navbarlogo{
        max-width: 75%;
    }

    h2{
        font-size: 24px;
    }

    p{
        font-size: 20px
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}